/*
/*
 * HTML5 ✰ Boilerplate v3.0.2
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 * 
 * Dreamweaver modifications:
 * 1. Commented out selection highlight
 * 2. Removed media queries section (we add our own in a separate file)
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; display: inline; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
	font-family: serif;
	color: #222;
	background-size: auto auto;
	background-image: url(url);
}

body { margin: 0; font-size: 1em; line-height: 1.4; }

/* 
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

/* Dreamweaver: uncomment these if you do want to customize the selection highlight
 *::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
 *::selection { background: #fe57a1; color: #fff; text-shadow: none; }
 */

/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong {
	font-weight: bold;
	color: #000000;
	font-size: 1.2em;
}

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; margin-left: -7px; padding: 0; white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; overflow: visible; }

/*
 * Re-set default cursor for disabled elements
 */

button[disabled], input[disabled] { cursor: default; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; width: 13px; height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
/*input: valid.fields, textarea: valid.fields {  }
input: invalid, textarea: invalid { background-color: #f0dddd; }*/


/* =============================================================================
   Tables
   ========================================================================== */
/* 
 * 'border-collapse: collapse;' needs to be overridden in designs having tables with rounded corners and drop shadows.
*/
table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */


/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { }


/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  *{ background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important;  } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (' attr(href) ')"; }
  abbr[title]:after { content: " (' attr(title) ')"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

/*************************************/
/*          END BOILERPLATE          */
/*************************************/









@charset "UTF-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
    margin-left: auto;
	text-align: center;
	float: none;
}

/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		4;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	12;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

.fluid {
	clear: both;
	margin-left: 0;
	width: 100%;
	float: left;
	display: block;
}

.fluidList {
    list-style:none;
    list-style-image:none;
    margin:0;
    padding:0;        
}


/****************************************************/
/****************************************************/
/*          Constant Page Settings                  */
/****************************************************/
/****************************************************/

body,td,th {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 0.9em;
    overflow: visible;
}
a:link {
	text-decoration: none;
	color: #30A52F;
}
a:visited {
	text-decoration: none;
	color: #30A52F;
}
a:hover {
	text-decoration: none;
	color: #BEBEBE;
}
a:active {
	text-decoration: none;
	font-size: 0.7em;
	color: #30A52F;
}
body {
	background-color: #F0F2F3;
	background-image: url();
	margin-top: 0px;
    overflow: visible;
}
html {
     background: #F0F2F3;
}

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 86.45%;
	padding-left: 2.275%;
	padding-right: 2.275%;
	clear: none;
	float: none;
    height: auto;
}

/****************************************************/
/****************************************************/
/*          Mobile Layout: 480px and below.         */
/****************************************************/
/****************************************************/

#logo {
	margin-top: 40px;
	margin-bottom: 20px;
	text-align: center;
}

/****************************************************/  
/*              Terms and Conditions                */ 
/****************************************************/  

#terms {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 0.9em;
	margin-bottom: 40px;
}

/****************************************************/  
/*                  Search Results                  */
/****************************************************/  

#searchResults #logo {
	text-align: center;
	width: 100%;
	display: block;
	margin-top: 20px;
}

#searchResults #cityZip {
	margin-top: 0px;
	width: 40%;
	margin-left: 0;
	clear: none;
	float: left;
	height: 1.3em;
	border: 1px solid rgba(39,72,145,1.00);
	text-align: left;
	background-color: rgba(255,255,255,1.00);
	margin-bottom: 7px;
	-webkit-box-shadow: 2px 2px 4px #BEBEBE;
	box-shadow: 2px 2px 4px #BEBEBE;
}

#searchResults #searchBar {
	text-align: center;
	margin-top: 3px;
	display: block;
	width: 99.7%;
	margin-left: 0px;
	margin-right: 0px;
	clear: both;
	height: 2em;
	border: 1px solid rgba(39,72,145,1.00);
	-webkit-box-shadow: 4px 4px 7px #BEBEBE;
	box-shadow: 4px 4px 7px #BEBEBE;
	background-color: rgba(255,255,255,1.00);
	margin-bottom: 10px;
}
#resultbox1 {
	text-align: center;
	margin-top: 10px;
	width: 100%;
	clear: both;
	margin-left: 0;
	-webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}
#resultbox2 {
	text-align: center;
	margin-top: 10px;
	width: 100%;
	clear: both;
	margin-left: 0;
	-webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}
#resultbox3 {
	width: 100%;
	text-align: center;
	margin-top: 10px;
	clear: both;
	margin-left: 0;
	-webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}
#resultbox4 {
	text-align: center;
	margin-top: 10px;
	width: 100%;
	clear: both;
	margin-left: 0;
	-webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}
#resultbox5 {
	text-align: center;
	margin-top: 10px;
	width: 100%;
	clear: both;
	margin-left: 0;
	-webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}
#resultbox6 {
	text-align: center;
	margin-top: 10px;
	width: 100%;
	clear: both;
	margin-left: 0;
	-webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}
#resultbox7 {
	text-align: center;
	margin-top: 10px;
	width: 100%;
	clear: both;
	margin-left: 0;
	-webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}
#resultbox8 {
	text-align: center;
	margin-top: 10px;
	width: 100%;
	clear: both;
	margin-left: 0;
	-webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}
#resultbox9 {
	text-align: center;
	margin-top: 10px;
	display: block;
	width: 100%;
	clear: both;
	margin-left: 0;
	-webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}
#resultbox10 {
	width: 100%;
	clear: both;
	margin-left: 0;
	margin-top: 10px;
	-webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}
#resultbox11 {
	margin-top: 10px;
	width: 100%;
	-webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}
#resultbox12 {
	margin-top: 10px;
	width: 100%;
	clear: both;
	margin-left: 0;
	-webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}

#ad_left1 {
	text-align: center;
	display: none;
	width: 100%;
	
}
#ad_right1 {
	text-align: center;
	display: none;
	width: 100%;
	clear: both;
	margin-left: 0;
}

#logo_lg {
    width: 100%;
    display: none;
}

#next_previous {
	text-align: center;
	margin-top: 15px;
}
#viewMap {
	text-align: center;
	width: 22.4719%;
	clear: both;
	float: right;
	font-size: 0.8em;
	line-height: 100%;
	display: block;
	margin-left: 0;
	margin-top: -10px;
	margin-bottom: 9px;
	background-image: url(images/map-icon-sm.png);
	background-repeat: no-repeat;
	background-position: 50% 0%;
	background-size: contain;
	height: 45px;
}

#maps {
    width: 100%;
    clear: both;
    margin-left: 0;
    display: none;
}

#searchRadius {
	display: none;
	width: 100%;
	text-align: center;
	margin-top: 8px;
	font-size: 0.8em;
	line-height: 150%;
}

#maps_tablet {
    width: 100%;
    display: none;
    clear: both;
    margin-left: 0;
}

#inputdivs {
	width: 100%;
	clear: both;
	margin-left: 0;
	margin-top: -20px;
	margin-bottom: 15px;
}
.greenText {
	color: #33B033;
}

#searchLoc {
    display: Block;
    width: 100%;
    text-align: center;
    margin-top: 8px;
    font-size: 0.8em;
    line-height: 150%;
}

.zeroMargin_mobile {
    margin-left: 0;
}
.hide_mobile {
    display: none;
}

/****************************************************/  
/*                   Search Page                    */
/****************************************************/  

#searchPage #locoolly-logo {
	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px;
	display: none;
}
#searchPage #searchContainer {
	text-align: center;
	width: 73.6842%;
	margin-left: 12.4%;
}
#searchPage #cityStateZip {
	text-align: center;
	width: 65%;
	border: 1px solid #274891;
	float: left;
	height: 1.3em;
	margin-bottom: 7px;
	margin-left: 17%;
	background-color: #FFFFFF;
	-webkit-box-shadow: 3px 3px 4px #BEBEBE;
	box-shadow: 3px 3px 4px #BEBEBE;
}
#searchPage #searchBar {
	height: 2em;
	border: 1px solid #274891;
	margin-left: 0;
	width: 100%;
	background-color: #FFFFFF;
	-webkit-box-shadow: 3px 3px 6px #BEBEBE;
	box-shadow: 3px 3px 6px #BEBEBE;
}
#searchPage #locoolly_logosm {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 25px;
	display: block;
}
#searchPage #locoolly-logo-med {
    display: none;
}
#searchPage #searchButton {
	width: 60px;
	clear: both;
	margin-left: 42%;
	border-radius: 3px;
	border-style: none;
	background-color: #008A3C;
	height: 2.2em;
	margin-top: 20px;
	text-align: center;
	line-height: 200%;
	color: #FFFFFF;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 0.7em;
	background-image: -webkit-linear-gradient(270deg,rgba(4,118,53,1.00) 0%,rgba(132,192,158,1.00) 24.32%,rgba(0,138,60,1.00) 40.93%,rgba(4,93,43,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(4,118,53,1.00) 0%,rgba(132,192,158,1.00) 24.32%,rgba(0,138,60,1.00) 40.93%,rgba(4,93,43,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(4,118,53,1.00) 0%,rgba(132,192,158,1.00) 24.32%,rgba(0,138,60,1.00) 40.93%,rgba(4,93,43,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(4,118,53,1.00) 0%,rgba(132,192,158,1.00) 24.32%,rgba(0,138,60,1.00) 40.93%,rgba(4,93,43,1.00) 100%);
	min-width: 60px;
}
#footer {
	text-align: center;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 0.7em;
	margin-top: 150px;
	display: none;
}

#footerMobile {
    text-align: center;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.7em;
    margin-top: 150px;
    display: block;
}





/***********************************************************************/
/***********************************************************************/
/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */
/***********************************************************************/
/***********************************************************************/

@media only screen and (min-width: 481px) {

/****************************************************/  
/*                Terms and Conditions              */
/****************************************************/  

#terms #logo {
}
    
#terms {
}

    
/****************************************************/      
/*                  Search Results                  */
/****************************************************/      
    
#searchResults #logo {
	width: 24.1758%;
	margin-top: 87px;
	display: block;
}
    
#cityZip {
	width: 37%;
	clear: none;
	float: left;
	font-size: 0.9em;
	text-align: right;
	height: 1.0em;
	background-color: rgba(255,255,255,1.00);
	border-color: #274891;
	margin-bottom: 7px;
	height: 1.3em;
	-webkit-box-shadow: 2px 2px 4px #BEBEBE;
	box-shadow: 2px 2px 4px #BEBEBE;
}
    
#searchBar {
	display: block;
	width: 100%;
	clear: none;
	border: 1px solid rgba(39,72,145,1.00);
	background-color: rgba(255,255,255,1.00);
	height: 2em;
	margin-bottom: 0px;
	-webkit-box-shadow: 3px 3px 4px #BEBEBE;
	box-shadow: 3px 3px 4px #BEBEBE;
}
    
#searchRadius {
	font-size: 0.8em;
	width: 100%;
	margin-left: 0;
	margin-bottom: 0px;
	display: block;
	text-align: center;
}
    
#resultbox1 {
	width: 49.4505%;
	margin-left: 0px;
	clear: none;
	-webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}
    
#resultbox2 {
    width: 49.4505%;
    margin-left: 1.0989%;
    clear: none;
    -webkit-box-shadow: 4px 4px 4px #9F9F9F;
    box-shadow: 4px 4px 4px #9F9F9F;
}
    
#resultbox3 {
	margin-top: 10px;
	width: 49.4505%;
	text-align: center;
	clear: both;
	margin-left: 0;
	-webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}
    
#resultbox3 {
	margin-top: 10px;
	width: 49.4505%;
	text-align: center;
	clear: both;
	margin-left: 0;
	-webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}
    
#resultbox4 {
	width: 49.4505%;
	margin-left: 1.0989%;
	clear: none;
	margin-top: 10px;
	-webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}
    
#resultbox5 {
    width: 49.4505%;
    margin-left: 0;
    clear: both;
    -webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}
    
#resultbox6 {
    width: 49.4505%;
    margin-left: 1.0989%;
    clear: none;
    -webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}
    
#resultbox7 {
    width: 49.4505%;
    clear: both;
    margin-left: 0;
    -webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}
    
#resultbox8 {
    width: 49.4505%;
    clear: none;
    margin-left: 1.0989%;
    -webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}
    
#resultbox9 {
    display: block;
    width: 49.4505%;
    clear: both;
    margin-left: 0;
    -webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}
    
#resultbox10 {
    width: 49.4505%;
    margin-left: 1.0989%;
    clear: none;
    -webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}
    
#resultbox11 {
    width: 49.4505%;
    -webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}
    
#resultbox12 {
    width: 49.4505%;
    margin-left: 1.0989%;
    clear: none;
    -webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}
    
#ad_left1 {
	display: none;
	width: 15.7509%;
	height: auto;
	margin-top: 10px;
	float: left;
}
    
#ad_right1 {
	display: none;
	width: 15.7509%;
	margin-left: 1.0989%;
	clear: none;
	height: auto;
	margin-top: 10px;
}
    
#footer {
}
    
#next_previous {
}
    
#viewMap {
	width: 15.7509%;
	float: right;
	display: none;
	margin-top: -15px;
	margin-left: 0;
	clear: both;
}
    
#maps_tablet {
	text-align: center;
	width: 15.7509%;
	clear: none;
	float: right;
	font-size: 0.8em;
	line-height: 100%;
	display: block;
	margin-top: 90px;
	margin-left: 0;
	background-image: url(images/map-icon.png);
	background-repeat: no-repeat;
	background-position: 50% 0%;
}
    
#inputdivs {
	width: 57.8754%;
	margin-left: 2%;
	clear: none;
	margin-top: 70px;
}
    
.greenText {
}
    
#searchLoc {
    font-size: 0.8em;
    width: 100%;
    margin-left: 0;
    margin-bottom: 0px;
    display: none;
    text-align: center;
}    
   
/****************************************************/      
/*                  Search Page                     */ 
/****************************************************/  
    
#searchPage #locoolly-logo {
	margin-top: 125px;
	display: none;
}
#searchPage #searchContainer {
	width: 55%;
	margin-left: 22.3%;
}
#searchPage #cityStateZip {
	width: 50%;
	margin-left: 0;
	height: 1.3em;
	background-color: #FFFFFF;
	margin-bottom: 7px;
	border: 1px solid #274891;
	-webkit-box-shadow: 3px 3px 4px #BEBEBE;
	box-shadow: 3px 3px 4px #BEBEBE;
	float: left;
}
#searchPage #searchBar {
	width: 100%;
	margin-left: 0;
	height: 2em;
	float: right;
	background-color: #FFFFFF;
	background-image: url(url);
	border: 1px solid #274891;
	-webkit-box-shadow: 4px 4px 7px #BEBEBE;
	box-shadow: 4px 4px 7px #BEBEBE;
}
#searchPage #locoolly_logosm {
    display: none;
}
#searchPage #locoolly-logo-med {
	text-align: center;
	margin-top: 50px;
	display: block;
	margin-bottom: 25px;
}
#searchPage #searchButton {
	width: 9%;
	clear: both;
	margin-left: 45%;
	border-radius: 3px;
	border-style: none;
	background-color: #008A3C;
	height: 2em;
	margin-top: 23px;
	text-align: center;
	line-height: 200%;
	color: #FFFFFF;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 0.8em;
	background-image: -webkit-linear-gradient(270deg,rgba(4,118,53,1.00) 0%,rgba(132,192,158,1.00) 24.32%,rgba(0,138,60,1.00) 40.93%,rgba(4,93,43,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(4,118,53,1.00) 0%,rgba(132,192,158,1.00) 24.32%,rgba(0,138,60,1.00) 40.93%,rgba(4,93,43,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(4,118,53,1.00) 0%,rgba(132,192,158,1.00) 24.32%,rgba(0,138,60,1.00) 40.93%,rgba(4,93,43,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(4,118,53,1.00) 0%,rgba(132,192,158,1.00) 24.32%,rgba(0,138,60,1.00) 40.93%,rgba(4,93,43,1.00) 100%);
}
    
#footer {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 0.8em;
	text-align: center;
	margin-bottom: 20px;
	display: block;
}
#footerMobile {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 20px;
    display: none;
}   
       
.hide_tablet {
    display: none;
}
.zeroMargin_tablet {
    margin-left: 0;
}
    
}


/********************************************************************************************************/
/********************************************************************************************************/
/*  Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout.   */
/********************************************************************************************************/
/********************************************************************************************************/

@media only screen and (min-width: 769px) {

    
/****************************************************/  
/*              Terms and Conditions                */
/****************************************************/  

    
#terms #logo {
}
    
#terms {
}

/****************************************************/  
/*                  Search Results                  */
/****************************************************/  
    
#searchLoc {
    margin-bottom: 0px;
    width: 100%;
    margin-left: 0;
    display: none;
    margin-top: 10px;
    text-align: center;
    font-size: 0.8em;
    margin-right: 9px;
    float: right;
}
    
#searchResults #logo {
	width: 24.4274%;
	display: none;
}
    
#cityZip {
	width: 37%;
	clear: none;
	height: 1.3em;
	margin-bottom: 7px;
	border: 1px solid rgba(39,72,145,1.00);
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: rgba(255,255,255,1.00);
	float: left;
	margin-right: 12px;
	margin-left: 0;
	-webkit-box-shadow: 2px 2px 4px #BEBEBE;
	box-shadow: 2px 2px 4px #BEBEBE;
}
    
#searchBar {
	display: block;
	text-align: center;
	width: 99%;
	clear: none;
	float: left;
	border: 1px solid rgba(39,72,145,1.00);
	height: 2em;
	margin-bottom: 0px;
	margin-right: 0px;
	padding-right: 0px;
	width: 97.5%;
	background-color: rgba(255,255,255,1.00);
	margin-left: 0%;
	-webkit-box-shadow: 4px 4px 7px #BEBEBE;
	box-shadow: 4px 4px 7px #BEBEBE;
}
    
#searchRadius {
	margin-bottom: 0px;
	width: 100%;
	margin-left: 0;
	display: block;
	margin-top: 10px;
	text-align: center;
	font-size: 0.8em;
	margin-right: 9px;
	float: right;
}
    
#resultbox1 {
	width: 24.1758%;
	clear: both;
	margin-left: 0px;
	-webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}
    
#resultbox2 {
	width: 24.1758%;
	clear: none;
	margin-left: 0.763%;
	-webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}

#resultbox3 {
	width: 24.1758%;
	clear: none;
	margin-left: 0.763%;
	-webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}
    
#resultbox4 {
	width: 24.1758%;
	clear: none;
	margin-left: 0.763%;
	-webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}
    
#resultbox5 {
	width: 24.1758%;
	clear: none;
	margin-left: 0px;
	-webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}
    
#resultbox6 {
	width: 24.1758%;
	clear: none;
	margin-left: 0.7633%;
	-webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}
    
#resultbox7 {
	width: 24.1758%;
	clear: none;
	margin-left: 0.763%;
	-webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}
    
#resultbox8 {
	width: 24.1758%;
	clear: none;
	margin-left: 0.7633%;
	-webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}
    
#resultbox9 {
	display: block;
	width: 24.1758%;
	margin-left: 0px;
	clear: none;
	-webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}
    
#resultbox10 {
	width: 24.1758%;
	clear: none;
	margin-left: 0.7633%;
	-webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
	margin-top: 10px;
}
    
#resultbox11 {
	width: 24.1758%;
	clear: none;
	margin-left: 0.7633%;
	-webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
	margin-top: 10px;
}
    
#resultbox12 {
	width: 24.1758%;
	clear: none;
	margin-left: 0.7633%;
	-webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
	margin-top: 10px;
	}
        
#logo_lg {
	width: 24.1758%;
	display: block;
	margin-right: 10px;
	text-align: center;
	margin-top: 77px;
	min-width: 0px;
}
    
#next_previous {
}
    
#viewMap {
	width: 15.7509%;
	float: left;
	display: none;
	margin-left: 3px;
	margin-top: -20px;
	clear: both;
}
    
#maps_tablet {
	text-align: center;
	width: 12%;
	margin-top: 105px;
	float: left;
	font-size: 0.8em;
	line-height: 130%;
	display: block;
	clear: none;
	padding-left: 0px;
	background-image: url(images/map-icon.png);
	background-repeat: no-repeat;
	background-size: contain;
	height: 75px;
	background-position: 50% 100%;
	margin-left: 67px;
}
    
#inputdivs {
	width: 49.589%;
	margin-left: 4px;
	margin-top: 90px;
}
    
.greenText {
}
    
/****************************************************/    
/*                  Search Page                     */  
/****************************************************/      

#searchPage #locoolly-logo {
	margin-top: 150px;
	display: block;
}
#searchPage #searchContainer {
	width: 50%;
	margin-left: 25.5%;
}
#searchPage #cityStateZip {
	width: 45%;
	margin-left: 0;
	height: 1.3em;
	background-color: #FFFFFF;
	margin-bottom: 7px;
	border: 1px solid #274891;
	-webkit-box-shadow: 2px 2px 4px #BEBEBE;
	box-shadow: 2px 2px 4px #BEBEBE;
	float: left;
}
#searchPage #searchBar {
	width: 100%;
	margin-left: 0;
	height: 2em;
	float: right;
	background-color: #FFFFFF;
	background-image: url(url);
	border: 1px solid #274891;
	-webkit-box-shadow: 4px 4px 7px #BEBEBE;
	box-shadow: 4px 4px 7px #BEBEBE;
}
#searchPage #locoolly_logosm {
display: none;
}
#searchPage #locoolly-logo-med {
display: none;
}
#searchPage #searchButton {
	width: 8%;
	clear: both;
	margin-left: 46%;
	border-radius: 3px;
	border-style: none;
	background-color: #008A3C;
	height: 2em;
	margin-top: 30px;
	text-align: center;
	line-height: 200%;
	color: #FFFFFF;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1em;
	background-image: -webkit-linear-gradient(270deg,rgba(4,118,53,1.00) 0%,rgba(132,192,158,1.00) 24.32%,rgba(0,138,60,1.00) 40.93%,rgba(4,93,43,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(4,118,53,1.00) 0%,rgba(132,192,158,1.00) 24.32%,rgba(0,138,60,1.00) 40.93%,rgba(4,93,43,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(4,118,53,1.00) 0%,rgba(132,192,158,1.00) 24.32%,rgba(0,138,60,1.00) 40.93%,rgba(4,93,43,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(4,118,53,1.00) 0%,rgba(132,192,158,1.00) 24.32%,rgba(0,138,60,1.00) 40.93%,rgba(4,93,43,1.00) 100%);
}
 #footer {
 }
        
.zeroMargin_desktop {
margin-left: 0;
}
.hide_desktop {
display: none;
}
 
}
    
@media screen and (orientation:landscape) and (min-width:1000px){
    #searchRadius {
        width: 97.5%;
        display: block;
        text-align: center;
        margin-top: 10px;
        float: right;
        margin-right: 12px;
        font-size: 0.8em;
        margin-bottom: 0px;
    }
}

