@charset "UTF-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	/*max-width: 100%;*/
	/*width: 80%;*/
    max-width: 100%;
	width: 80%;
}

input[type="submit"] {
    margin-top: 40px !important;
}

/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		4;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	12;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

.fluid {
	clear: both;
	margin-left: 0;
	width: 100%;
	float: left;
	display: block;
}


/* Mobile Layout: 480px and below. */
  
.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 86%;
	padding-left: 2.275%;
	padding-right: 2.275%;
	clear: none;
	float: none;
    margin-top: -45px;
}
#date {
	font-size: 0.8em;
	width: 47.3684%;
	margin-top: 10px;
	display: none;
}
#login {
	width: 15.2542%;
	clear: none;
	margin-left: 83.695%;
	margin-top: -77px;
	display: none;
}

#headline {
	text-align: center;
	margin-top: 17px;
    font-size: .7em;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#company_information {
	width: 96%;
	
	float: none;
	line-height: 180%;
	border-radius: 60px;
	margin-bottom: 53px;
	
	height: auto;
	font-size: 1em;
	background-color: #CBDBEB;
    text-align: center;
}
#email {
    height: 4px;
    width: 190px;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    padding-left: 2px;
}
    
#password{
    height: 4px;
    width: 190px;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    padding-left: 2px;
    margin-top: -15px;
}

.forgotpassword {
	font-size: 0.65em;
    margin-top: -5px;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#submitclient {
	text-align: center;
	
	font-size: 0.6em;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 47.3684%;
	margin-left: 25%;
}
#maksez {
	width: 47.3684%;
	margin-top: -35px;
    margin-left: -23px;
}
#captcha {
    margin-bottom: 11px;
}
.zeroMargin_mobile {
margin-left: 0;
}
.hide_mobile {
display: none;
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {

.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
	clear: none;
	float: none;
	margin-left: auto;
}
#date {
	width: 48.7179%;
	margin-left: 25%;
	text-align: right;
	display: none;
}
#login {
    width: 15.2542%;
	clear: none;
	margin-left: 83.695%;
	margin-top: -77px;
	display: none;
}

#headline {
    margin-top: -3px;
	margin-bottom: 21px;
}

#company_information {
	width: 55%;
	line-height: 180%;
	border-radius: 60px;
	margin-bottom: 53px;
	margin-left: 23%;
	height: auto;
	font-size: 1em;
	background-color: #CBDBEB;
    text-align: center;
}
    #email {
    height: 4px;
    width: 190px;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    padding-left: 2px;
}
    
#password{
    height: 4px;
    width: 190px;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    padding-left: 2px;
    margin-top: -15px;
}

#submitclient {
    width: 35.8974%;
	margin-left: 32%;
	margin-bottom: 5px;
	
}

.forgotpassword {
	font-size: 0.8em;
    margin-top: -10px;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#maksez {
	width: 35.8974%;
	margin-top: -60px;
}
#captcha {
    margin-top: -20px;
    width: 80%;
    margin-left: 10%;
}
.hide_tablet {
display: none;
}
.zeroMargin_tablet {
margin-left: 0;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {

.gridContainer {
	width: 90%;
	max-width: 1232px;
	padding-left: 0.75%;
	padding-right: 0.75%;
	margin: auto;
	clear: none;
	float: none;
	margin-left: auto;
}
#date {
	width: 23.7288%;
	margin-left: 52%;
	margin-top: -77px;
	display: none;
}
#login {
	width: 15.2542%;
	clear: none;
	margin-left: 83.695%;
	margin-top: -77px;
	display: none;
}

#headline {
	margin-top: -3px;
	margin-bottom: 21px;
    
}
    
#email {
    height: 4px;
    width: 190px;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    padding-left: 2px;
}
    
#password{
    height: 4px;
    width: 190px;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    padding-left: 2px;
    margin-top: -15px;
}

#company_information {
	width: 37%;
	margin-top: 30px;
	float: none;
	line-height: 180%;
	border-radius: 60px;
	margin-bottom: 53px;
	margin-left: 31.5%;
	height: auto;
	font-size: 1em;
	background-color: #CBDBEB;
}


#submitclient {
	text-align: center;
	font-size: 0.6em;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 34.254%;
	margin-left: 33%;
}

.forgotpassword {
	font-size: 0.8em;
    margin-top: -10px;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#maksez {
	width: 15.2542%;
	margin-left: 23%;
	margin-top: -57px;
}
#captcha {
    margin-top: -30px;
    width: 80%;
	margin-left: 10%;
}
input {
    margin-top: 20px;
}
.zeroMargin_desktop {
margin-left: 0;
}
.hide_desktop {
display: none;
}

}