@charset "UTF-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
body,td,th {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 0.9em;
}

body {
	background-color: #F0F2F3;
	background-image: url();
	margin-top: 0px;
    overflow: visible;
}
html {
     background: #F0F2F3;
}

img, object, embed, video {
	max-width: 100%;
	margin-left: auto;
	text-align: center;
	float: none;
}

/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		4;
	dw-num-cols-tablet:		12;
	dw-num-cols-desktop:	16;
	dw-gutter-percentage:	15;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

.fluid {
	clear: both;
	margin-left: 0;
	width: 100%;
	float: left;
	display: block;
}
.fluidcard {
/*	clear: both;*/
	font-size: 16px;
	line-height: 1;
	margin-left: 0;
	width: 291px;
	float: left;
	display: block;
}

.fluidList {
    list-style:none;
    list-style-image:none;
    margin:0;
    padding:0;        
}

/* Mobile Layout: 480px and below. */
  
.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 88.0326%;
	padding-left: 1.4836%;
	padding-right: 1.4836%;
	clear: none;
	float: none;
	height: auto;
    margin-top: -30px;
}
#logo {
	text-align: center;
	width: 100%;
	display: block;
	margin-top: 20px;
}
#city-zip {
	margin-top: 0px;
	width: 40%;
	margin-left: 0;
	clear: none;
	float: left;
	height: 1.6em;
	border: 1px solid rgba(39,72,145,1.00);
	text-align: left;
	background-color: rgba(255,255,255,1.00);
	margin-bottom: 7px;
	-webkit-box-shadow: 2px 2px 4px #BEBEBE;
	box-shadow: 2px 2px 4px #BEBEBE;
}
#searchbar {
	text-align: center;
	margin-top: 3px;
	display: block;
	width: 99.7%;
	margin-left: 0px;
	margin-right: 0px;
	clear: both;
	height: 2.1em;
	border: 1px solid rgba(39,72,145,1.00);
	-webkit-box-shadow: 4px 4px 7px #BEBEBE;
	box-shadow: 4px 4px 7px #BEBEBE;
	background-color: rgba(255,255,255,1.00);
	margin-bottom: 10px;
}
#resultbox1 {
	text-align: center;
	margin-top: 10px;
	width: 100%;
	clear: both;
	margin-left: 0;
	-webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}
#resultbox2 {
	text-align: center;
	margin-top: 10px;
	width: 100%;
	clear: both;
	margin-left: 0;
	-webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}
#resultbox3 {
	width: 100%;
	text-align: center;
	margin-top: 10px;
	clear: both;
	margin-left: 0;
	-webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}
#resultbox4 {
	text-align: center;
	margin-top: 10px;
	width: 100%;
	clear: both;
	margin-left: 0;
	-webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}
#resultbox5 {
	text-align: center;
	margin-top: 10px;
	width: 100%;
	clear: both;
	margin-left: 0;
	-webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}
#resultbox6 {
	text-align: center;
	margin-top: 10px;
	width: 100%;
	clear: both;
	margin-left: 0;
	-webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}
#resultbox7 {
	text-align: center;
	margin-top: 10px;
	width: 100%;
	clear: both;
	margin-left: 0;
	-webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}
#resultbox8 {
	text-align: center;
	margin-top: 10px;
	width: 100%;
	clear: both;
	margin-left: 0;
	-webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}
#resultbox9 {
	text-align: center;
	margin-top: 10px;
	display: block;
	width: 100%;
	clear: both;
	margin-left: 0;
	-webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}
#resultbox10 {
	width: 100%;
	clear: both;
	margin-left: 0;
	margin-top: 10px;
	-webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}
#resultbox11 {
	margin-top: 10px;
	width: 100%;
	-webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}
#resultbox12 {
	margin-top: 10px;
	width: 100%;
	clear: both;
	margin-left: 0;
	-webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}
#ad_left1 {
	text-align: center;
	display: none;
	width: 100%;
	
}
#ad_right1 {
	text-align: center;
	display: none;
	width: 100%;
	clear: both;
	margin-left: 0;
}
#footer {
	text-align: center;
	font-size: 0.8em;
	margin-top: 30px;
    margin-bottom: 20px;
}
#logo_lg {
width: 100%;
display: none;

}
#next_previous {
	text-align: center;
	margin-top: 15px;
}
#viewmap {
	text-align: center;
	width: 22.4719%;
	clear: both;
	float: right;
	font-size: 0.8em;
	line-height: 100%;
	display: block;
	margin-left: 0;
	margin-top: -10px;
	margin-bottom: 9px;
	background-image: url(images/map-icon-sm.png);
	background-repeat: no-repeat;
	background-position: 50% 0%;
	background-size: contain;
	height: 45px;
}
#maps {
width: 100%;
clear: both;
margin-left: 0;
display: none;
}
#searchradius {
	display: none;
	width: 100%;
	text-align: center;
	margin-top: 8px;
	font-size: 0.8em;
	line-height: 150%;
}
#maps_tablet {
width: 100%;
display: none;
clear: both;
margin-left: 0;
}
#inputdivs {
	width: 100%;
	clear: both;
	margin-left: 0;
	margin-top: -20px;
	margin-bottom: 15px;
}
.greentext {
	color: #33B033;
}
.zeroMargin_mobile {
margin-left: 0;
}
.hide_mobile {
display: none;
}
#div1 {
display: Block;
width: 100%;
text-align: center;
margin-top: 8px;
font-size: 0.8em;
line-height: 150%;
}
.zeroMargin_mobile {
margin-left: 0;
}
.hide_mobile {
display: none;
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {

.gridContainer {
	width: 91.9891%;
	padding-left: 0.5054%;
	padding-right: 0.5054%;
	clear: none;
	float: none;
	margin-left: auto;
	height: auto;
}
#logo {
	width: 24.1758%;
	margin-top: 87px;
	display: block;
}
#city-zip {
	width: 37%;
	clear: none;
	float: left;
	font-size: 1.2em;
	text-align: right;
	height: 1.6em;
	background-color: rgba(255,255,255,1.00);
	border-color: #274891;
	margin-bottom: 7px;
	-webkit-box-shadow: 2px 2px 4px #BEBEBE;
	box-shadow: 2px 2px 4px #BEBEBE;
}
#searchbar {
	display: block;
	width: 100%;
	clear: none;
	border: 1px solid rgba(39,72,145,1.00);
	background-color: rgba(255,255,255,1.00);
	height: 2.1em;
	margin-bottom: 0px;
	-webkit-box-shadow: 3px 3px 4px #BEBEBE;
	box-shadow: 3px 3px 4px #BEBEBE;
}
#searchradius {
	font-size: 0.8em;
	width: 100%;
	margin-left: 0;
	margin-bottom: 0px;
	display: block;
	text-align: center;
}
#resultbox1 {
	width: 49.4505%;
	margin-left: 0px;
	clear: none;
	-webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}
#resultbox2 {
width: 49.4505%;
margin-left: 1.0989%;
clear: none;
-webkit-box-shadow: 4px 4px 4px #9F9F9F;
box-shadow: 4px 4px 4px #9F9F9F;
}
#resultbox3 {
	margin-top: 10px;
	width: 49.4505%;
	text-align: center;
	clear: both;
	margin-left: 0;
	-webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}

#resultbox4 {
	width: 49.4505%;
	margin-left: 1.0989%;
	clear: none;
	margin-top: 10px;
	-webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}
#resultbox5 {
width: 49.4505%;
margin-left: 0;
clear: both;
-webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}
#resultbox6 {
width: 49.4505%;
margin-left: 1.0989%;
clear: none;
-webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}
#resultbox7 {
width: 49.4505%;
clear: both;
margin-left: 0;
-webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}
#resultbox8 {
width: 49.4505%;
clear: none;
margin-left: 1.0989%;
-webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}
#resultbox9 {
display: block;
width: 49.4505%;
clear: both;
margin-left: 0;
-webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}
#resultbox10 {
width: 49.4505%;
margin-left: 1.0989%;
clear: none;
-webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}
#resultbox11 {
width: 49.4505%;
-webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}
#resultbox12 {
width: 49.4505%;
margin-left: 1.0989%;
clear: none;
-webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}
#ad_left1 {
	display: none;
	width: 15.7509%;
	height: auto;
	margin-top: 10px;
	float: left;
}
#ad_right1 {
	display: none;
	width: 15.7509%;
	margin-left: 1.0989%;
	clear: none;
	height: auto;
	margin-top: 10px;
}
#footer {
}
#next_previous {
}
#viewmap {
	width: 15.7509%;
	float: right;
	display: none;
	margin-top: -15px;
	margin-left: 0;
	clear: both;
}
#maps_tablet {
	text-align: center;
	width: 15.7509%;
	clear: none;
	float: right;
	font-size: 0.8em;
	line-height: 100%;
	display: block;
	margin-top: 90px;
	margin-left: 0;
	background-image: url(images/map-icon.png);
	background-repeat: no-repeat;
	background-position: 50% 0%;
}
#inputdivs {
	width: 57.8754%;
	margin-left: 2%;
	clear: none;
	margin-top: 70px;
}
.greentext {
}
#div1 {
font-size: 0.8em;
width: 100%;
margin-left: 0;
margin-bottom: 0px;
display: none;
text-align: center;
}
.hide_tablet {
display: none;
}
.zeroMargin_tablet {
margin-left: 0;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {

.gridContainer {
	width: 89.2663%;
	max-width: 1232px;
	padding-left: 0.3668%;
	padding-right: 0.3668%;
	margin: auto;
	clear: none;
	float: none;
	margin-left: auto;
	height: auto;
    margin-top: -30px;
}
#div1 {
margin-bottom: 0px;
width: 100%;
margin-left: 0;
display: none;
margin-top: 10px;
text-align: center;
font-size: 0.8em;
margin-right: 9px;
float: right;
}
#logo {
	width: 24.4274%;
	display: none;
}
#city-zip {
	width: 37%;
	clear: none;
	height: 1.4em;
	margin-bottom: 7px;
	border: 1px solid rgba(39,72,145,1.00);
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: rgba(255,255,255,1.00);
	float: left;
	margin-right: 12px;
	margin-left: -6px;
	-webkit-box-shadow: 2px 2px 4px #BEBEBE;
	box-shadow: 2px 2px 4px #BEBEBE;
    
}
#searchbar {
	display: block;
	text-align: center;
	width: 98.5%;
	clear: none;
	float: left;
	border: 1px solid rgba(39,72,145,1.00);
	height: 2.1em;
	margin-bottom: 0px;
	margin-right: 0px;
	padding-right: 0px;
	margin-right: 12px;
	background-color: rgba(255,255,255,1.00);
	margin-left: -6px;
	-webkit-box-shadow: 4px 4px 7px #BEBEBE;
	box-shadow: 4px 4px 7px #BEBEBE;
    
}
#searchradius {
	margin-bottom: 0px;
	width: 100%;
	margin-left: 0;
	display: block;
	margin-top: 10px;
	text-align: center;
	font-size: 0.8em;
	margin-right: 9px;
	float: right;
}
#resultbox1 {
	width: 24.1758%;
	clear: both;
	margin-left: 0px;
	-webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}
#resultbox2 {
	width: 24.1758%;
	clear: none;
	margin-left: 0.763%;
	-webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}

#resultbox3 {
	width: 24.1758%;
	clear: none;
	margin-left: 0.763%;
	-webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}
#resultbox4 {
	width: 24.1758%;
	clear: none;
	margin-left: 0.763%;
	-webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}
#resultbox5 {
	width: 24.1758%;
	clear: none;
	margin-left: 0px;
	-webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}
#resultbox6 {
	width: 24.1758%;
	clear: none;
	margin-left: 0.7633%;
	-webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}
#resultbox7 {
	width: 24.1758%;
	clear: none;
	margin-left: 0.763%;
	-webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}
#resultbox8 {
	width: 24.1758%;
	clear: none;
	margin-left: 0.7633%;
	-webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
}
#resultbox9 {
	display: block;
	width: 24.1758%;
	margin-left: 0px;
	clear: none;
	-webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
	}
#resultbox10 {
	width: 24.1758%;
	clear: none;
	margin-left: 0.7633%;
	-webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
	margin-top: 10px;
}
#resultbox11 {
	width: 24.1758%;
	clear: none;
	margin-left: 0.7633%;
	-webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
	margin-top: 10px;
}
#resultbox12 {
	width: 24.1758%;
	clear: none;
	margin-left: 0.7633%;
	-webkit-box-shadow: 4px 4px 4px #9F9F9F;
	box-shadow: 4px 4px 4px #9F9F9F;
	margin-top: 10px;
	}
	#footer {

}
#logo_lg {
	width: 24.1758%;
	display: block;
	margin-right: 10px;
	text-align: center;
	margin-top: 77px;
	min-width: 0px;
}
#next_previous {
}
#viewmap {
	width: 15.7509%;
	float: left;
	display: none;
	margin-left: 3px;
	margin-top: -20px;
	clear: both;
}
#maps_tablet {
	text-align: center;
	width: 12%;
	margin-top: 105px;
	float: left;
	font-size: 0.8em;
	line-height: 130%;
	display: block;
	clear: none;
	padding-left: 0px;
	background-image: url(images/map-icon.png);
	background-repeat: no-repeat;
	background-size: contain;
	height: 75px;
	background-position: 50% 100%;
	margin-left: 67px;
}
#inputdivs {
	width: 49.589%;
	margin-left: 4px;
	margin-top: 90px;
}
.greentext {
}
.zeroMargin_desktop {
margin-left: 0;
}
.hide_desktop {
display: none;
}
}
@media screen and (orientation:landscape) and (min-width:1000px){
#searchradius {
	width: 97.5%;
	display: block;
	text-align: center;
	margin-top: 10px;
	float: right;
	margin-right: 12px;
	font-size: 0.8em;
	margin-bottom: 0px;
}
}
}

img.testCard { width:3.5in; height:2in; border: 2px solid black; box-shadow: 6px 6px 5px #888888; }

.tier2card  { font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif; display: inline-block; text-align: center; }
.tier2cardWrap { text-align: center; border: 2px solid black; box-shadow: 6px 6px 5px #888888; width: 3.5in; height: 2in; padding: inherit; max-width: 100%; display: table-cell; vertical-align: middle; }