@charset "UTF-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}

/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		4;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	12;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

.fluid {
	clear: both;
	margin-left: 0;
	width: 100%;
	float: left;
	display: block;
}

.fluidList {
    list-style:none;
    list-style-image:none;
    margin:0;
    padding:0;        
}

/* Mobile Layout: 480px and below. */
  
.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 86.45%;
	padding-left: 2.275%;
	padding-right: 2.275%;
	clear: none;
	float: none;
	height: auto;
}

#locoolly-logo {
	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px;
	display: none;
}

#locoolly_logosm {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 25px;
	display: block;
}
#locoolly-logo-med {
display: none;
}

#terms {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 0.9em;
}
#div1 {
font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 0.9em;
}
footer {
    margin-bottom: 20px;
    margin-top: 45px;
    text-align: center;
    font-size: 0.9em;
}
.zeroMargin_mobile {
margin-left: 0;
}
.hide_mobile {
display: none;
}


/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {

.gridContainer {
	width: 91.45%;
	padding-left: 0.775%;
	padding-right: 0.775%;
	clear: none;
	float: none;
	margin-left: auto;
    height: auto;
    
}
#locoolly-logo {
	margin-top: 125px;
	display: none;
}
    #locoolly_logosm {
display: none;
}
#locoolly-logo-med {
	text-align: center;
	margin-top: 50px;
	display: block;
	margin-bottom: 25px;
}
    
#terms {
}
#div1 {
}
footer {
    margin-bottom: 20px;
    margin-top: 45px;
    text-align: center;
}
.hide_tablet {
display: none;
}
.zeroMargin_tablet {
margin-left: 0;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {

.gridContainer {
	width: 88.875%;
	max-width: 1232px;
	padding-left: 0.5625%;
	padding-right: 0.5625%;
	margin: auto;
	clear: none;
	float: none;
	margin-left: auto;
	background-position: 60% 0;
    margin-top:-80px;
}
#locoolly-logo {
	margin-top: 150px;
	display: block;
}
#locoolly_logosm {
display: none;
}
#locoolly-logo-med {
display: none;
}
    
#terms {
}
#div1 {
}
footer {
    margin-bottom: 20px;
    margin-top: 45px;
    text-align: center;
}

.zeroMargin_desktop {
margin-left: 0;
}
.hide_desktop {
display: none;
}
}