@charset "UTF-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}

/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		4;
	dw-num-cols-tablet:		12;
	dw-num-cols-desktop:	16;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

.fluid {
	clear: both;
	margin-left: 0;
	width: 100%;
	float: left;
	display: block;
}

.fluidList {
    list-style:none;
    list-style-image:none;
    margin:0;
    padding:0;        
}

/* Mobile Layout: 480px and below. */
  
.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 86.45%;
	padding-left: 2.275%;
	padding-right: 2.275%;
	clear: none;
	float: none;
	height: 2000px;
}
#locoolly-logo {
	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px;
	display: none;
}
#search-container {
	text-align: center;
	width: 73.6842%;
	margin-left: 12.4%;
}
#citystatezip {
	text-align: center;
	width: 65%;
	border: 1px solid #274891;
	float: left;
	height: 1.3em;
	margin-bottom: 7px;
	margin-left: 17%;
	background-color: #FFFFFF;
	-webkit-box-shadow: 3px 3px 4px #BEBEBE;
	box-shadow: 3px 3px 4px #BEBEBE;
}
#searchbar {
	height: 2em;
	border: 1px solid #274891;
	margin-left: 0;
	width: 100%;
	background-color: #FFFFFF;
	-webkit-box-shadow: 3px 3px 6px #BEBEBE;
	box-shadow: 3px 3px 6px #BEBEBE;
}
#locoolly_logosm {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 25px;
	display: block;
}
#locoolly-logo-med {
display: none;
}
#search-button {
	width: 60px;
	clear: both;
	margin-left: 42%;
	border-radius: 3px;
	border-style: none;
	background-color: #008A3C;
	height: 2.2em;
	margin-top: 20px;
	text-align: center;
	line-height: 200%;
	color: #FFFFFF;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 0.7em;
	background-image: -webkit-linear-gradient(270deg,rgba(4,118,53,1.00) 0%,rgba(132,192,158,1.00) 24.32%,rgba(0,138,60,1.00) 40.93%,rgba(4,93,43,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(4,118,53,1.00) 0%,rgba(132,192,158,1.00) 24.32%,rgba(0,138,60,1.00) 40.93%,rgba(4,93,43,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(4,118,53,1.00) 0%,rgba(132,192,158,1.00) 24.32%,rgba(0,138,60,1.00) 40.93%,rgba(4,93,43,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(4,118,53,1.00) 0%,rgba(132,192,158,1.00) 24.32%,rgba(0,138,60,1.00) 40.93%,rgba(4,93,43,1.00) 100%);
	min-width: 60px;
}
#footer {
	text-align: center;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 0.7em;
	margin-top: 150px;
	display: none;
}
#footer1 {
text-align: center;
font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 0.7em;
margin-top: 150px;
display: block;
}
.zeroMargin_mobile {
margin-left: 0;
}
.hide_mobile {
display: none;
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {

.gridContainer {
	width: 91.45%;
	padding-left: 0.775%;
	padding-right: 0.775%;
	clear: none;
	float: none;
	margin-left: auto;
	height: 2000px;
}
#locoolly-logo {
	margin-top: 125px;
	display: none;
}
#search-container {
	width: 55%;
	margin-left: 22.3%;
}
#citystatezip {
	width: 50%;
	margin-left: 0;
	height: 1.3em;
	background-color: #FFFFFF;
	margin-bottom: 7px;
	border: 1px solid #274891;
	-webkit-box-shadow: 3px 3px 4px #BEBEBE;
	box-shadow: 3px 3px 4px #BEBEBE;
	float: left;
}
#searchbar {
	width: 100%;
	margin-left: 0;
	height: 2em;
	float: right;
	background-color: #FFFFFF;
	background-image: url(url);
	border: 1px solid #274891;
	-webkit-box-shadow: 4px 4px 7px #BEBEBE;
	box-shadow: 4px 4px 7px #BEBEBE;
}
#locoolly_logosm {
display: none;
}
#locoolly-logo-med {
	text-align: center;
	margin-top: 50px;
	display: block;
	margin-bottom: 25px;
}
#search-button {
	width: 9%;
	clear: both;
	margin-left: 45%;
	border-radius: 3px;
	border-style: none;
	background-color: #008A3C;
	height: 2em;
	margin-top: 23px;
	text-align: center;
	line-height: 200%;
	color: #FFFFFF;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 0.8em;
	background-image: -webkit-linear-gradient(270deg,rgba(4,118,53,1.00) 0%,rgba(132,192,158,1.00) 24.32%,rgba(0,138,60,1.00) 40.93%,rgba(4,93,43,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(4,118,53,1.00) 0%,rgba(132,192,158,1.00) 24.32%,rgba(0,138,60,1.00) 40.93%,rgba(4,93,43,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(4,118,53,1.00) 0%,rgba(132,192,158,1.00) 24.32%,rgba(0,138,60,1.00) 40.93%,rgba(4,93,43,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(4,118,53,1.00) 0%,rgba(132,192,158,1.00) 24.32%,rgba(0,138,60,1.00) 40.93%,rgba(4,93,43,1.00) 100%);
}
#footer {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 0.8em;
	text-align: center;
	margin-top: 300px;
	display: block;
}
#footer1 {
font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 0.8em;
text-align: center;
margin-top: 300px;
display: none;
}
.hide_tablet {
display: none;
}
.zeroMargin_tablet {
margin-left: 0;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {

.gridContainer {
	width: 88.875%;
	max-width: 1232px;
	padding-left: 0.5625%;
	padding-right: 0.5625%;
	margin: auto;
	clear: none;
	float: none;
	margin-left: auto;
	background-position: 60% 0;
	height: 2000px;
}
#locoolly-logo {
	margin-top: 150px;
	display: block;
}
#search-container {
	width: 50%;
	margin-left: 25.5%;
}
#citystatezip {
	width: 45%;
	margin-left: 0;
	height: 1.3em;
	background-color: #FFFFFF;
	margin-bottom: 7px;
	border: 1px solid #274891;
	-webkit-box-shadow: 2px 2px 4px #BEBEBE;
	box-shadow: 2px 2px 4px #BEBEBE;
	float: left;
}
#searchbar {
	width: 100%;
	margin-left: 0;
	height: 2em;
	float: right;
	background-color: #FFFFFF;
	background-image: url(url);
	border: 1px solid #274891;
	-webkit-box-shadow: 4px 4px 7px #BEBEBE;
	box-shadow: 4px 4px 7px #BEBEBE;
}
#locoolly_logosm {
display: none;
}
#locoolly-logo-med {
display: none;
}
#search-button {
	width: 8%;
	clear: both;
	margin-left: 46%;
	border-radius: 3px;
	border-style: none;
	background-color: #008A3C;
	height: 2em;
	margin-top: 30px;
	text-align: center;
	line-height: 200%;
	color: #FFFFFF;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1em;
	background-image: -webkit-linear-gradient(270deg,rgba(4,118,53,1.00) 0%,rgba(132,192,158,1.00) 24.32%,rgba(0,138,60,1.00) 40.93%,rgba(4,93,43,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(4,118,53,1.00) 0%,rgba(132,192,158,1.00) 24.32%,rgba(0,138,60,1.00) 40.93%,rgba(4,93,43,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(4,118,53,1.00) 0%,rgba(132,192,158,1.00) 24.32%,rgba(0,138,60,1.00) 40.93%,rgba(4,93,43,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(4,118,53,1.00) 0%,rgba(132,192,158,1.00) 24.32%,rgba(0,138,60,1.00) 40.93%,rgba(4,93,43,1.00) 100%);
}
#footer {
	text-align: center;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 0.8em;
	margin-top: 300px;
	display: block;
}
#footer1 {
text-align: center;
font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 0.8em;
margin-top: 300px;
display: none;
}
.zeroMargin_desktop {
margin-left: 0;
}
.hide_desktop {
display: none;
}
}
